.writebox {
	background-color:#fff;
	border-radius:40px;
	padding:5px;
	width:570px;
	height:35px;
	border:1px solid #DCDCDC;
	transition:box-shadow 0s;
}
.writebox:hover {
	box-shadow:0 0 10px #CCC;
}
.lnk {
	color:#000;
    text-decoration:none;
	font-size:12.5px;
}
.lnk:hover {
	color:#CCC;
}

a {
	color:#000;
}
a:hover {
	color:#CCC;
}

input {
	outline:none;
}

button{
	outline:none;
	border-radius:2px;
	background:#0078D7;
	border:none;
	padding:8px;
	padding-left:15px;
	padding-right:15px;
	color:#fff;
	font-size:13px;
}
.selbtn {
	border:none;
	padding:11px;
	padding-left:20px;
	padding-right:20px;
	border-radius:4px;
	background-color:#FAFAFA;
	cursor:pointer;
}
.selbtn:hover {
	box-shadow:1px 1px 1px #DCDCDC;
}
.topbtn {
	border:none;
	padding:10px;
	padding-left:35px;
	padding-right:35px;
	border-radius:4px;
	background-color:#1a73e8;
	cursor:pointer;
	color:#fff;
	float: right;
}
.topbtn:hover {
	box-shadow:0px;
}
	
.Surlogo {
	margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.SurMain {
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
}

.SS {
	width:100%;
}

.SSK {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;

	

}

.SurMain:hover {
	box-shadow:0 1px 5px #CCC;
}

.CcAdNb{
		 margin:auto
		 }
		 
.QCzoEc{
		 margin-top:3px;
		 color:#9aa0a6
		 }


.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

